<h2 class="w-100 text-center mt-3">Lista cadastral de municipes</h1>

<div class="d-inline"> 
  <%= render partial: "shared/flash"%>
  <%= render partial: "buscador"%>
</div>

<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">Cpf</th>
      <th scope="col">+</th>
    </tr>
  </thead>
  <tbody>
    <% @municipes.each do |municipe|%>
    <tr>
      <td><%= municipe.primeiro_nome%></td>
      <td><%= municipe.sobrenome%></td>
      <td><%= municipe.cpf%></td>
      <td>    
        <%= link_to edit_municipe_path(municipe), class:"" do %>
          <svg style="width: 20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>

        <% end %>
        -
        <%= link_to municipe_path(municipe), class:"" do %>
          <svg style="width: 20px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-between">
  <%= link_to "criar novo municipe", new_municipe_path, class:'btn btn-primary', style: "height: 50px" %>
  <%= paginate @municipes, theme: 'bootstrap-5' %>
</div>